In [22]:
import pandas as pd   
import numpy as np
import quandl
import datetime
from pandas_datareader import data
import matplotlib.pyplot as plt   
%matplotlib inline

In [2]:
#pd.describe_option()

### Notebook set up

In [3]:
pd.set_option('display.notebook_repr_html', False)   
pd.set_option('display.max_columns', 12)   
pd.set_option('display.max_rows', 8)

In [13]:
#s =quandl.get("CHRIS/CBOE_VX1")
s = pd.read_csv('CHRIS-CBOE_VX1.csv', squeeze = True, parse_dates = ['Trade Date'])
s

     Trade Date   Open    High     Low   Close   Settle  Change  Total Volume  \
0    2005-06-20  148.3  148.30  148.30  148.30  148.300   148.3           0.0
1    2005-06-21  149.0  149.00  149.00  149.00  149.100     0.8          50.0
2    2005-06-22  148.4  148.40  148.40  148.40  148.600    -0.5          10.0
3    2005-06-23  149.8  150.50  149.10  150.50  151.200     2.6          61.0
...         ...    ...     ...     ...     ...      ...     ...           ...
3202 2018-03-15   17.3   17.76   16.25   16.70   16.775    -0.6       70169.0
3203 2018-03-16   16.7   17.05   15.50   16.25   16.275    -0.5       71576.0
3204 2018-03-19   16.3   20.20   16.21   18.30   18.175     1.9      148754.0
3205 2018-03-20    0.0    0.00    0.00    0.00    0.000     0.0           0.0

        EFP  Prev. Day Open Interest
0       0.0                      0.0
1       0.0                     50.0
2       0.0                     60.0
3       0.0                    121.0
...     ...                      ...
3202  585.0                  84526.0
3203    0.0                  77243.0
3204    0.0                  67623.0
3205    0.0                      0.0

[3206 rows x 10 columns]

In [14]:
del s['Prev. Day Open Interest']
del s['EFP']
del s['Change']

In [15]:
s.rename(columns={'Total Volume': 'Volume'}, inplace=True)

In [16]:
s.head()

  Trade Date   Open   High    Low  Close  Settle  Volume
0 2005-06-20  148.3  148.3  148.3  148.3   148.3     0.0
1 2005-06-21  149.0  149.0  149.0  149.0   149.1    50.0
2 2005-06-22  148.4  148.4  148.4  148.4   148.6    10.0
3 2005-06-23  149.8  150.5  149.1  150.5   151.2    61.0
4 2005-06-24  150.9  152.0  150.5  152.0   152.7     9.0

#### Scalar lookup by label or location using .at[]  and .iat[] Scalar values can be looked up by label using .at[] by passing the row label and then the column name/value:

In [17]:
s.at[50,'Settle']    # [int. str]

143.0

In [18]:
s.iat[50,5]    #[int, int]  row index , column number

143.0

In [19]:
s.Volume < 10000

0        True
1        True
2        True
3        True
        ...
3202    False
3203    False
3204    False
3205     True
Name: Volume, Length: 3206, dtype: bool

In [20]:
s[(s.Settle < 12) & (s.Settle > 0)][['Settle']]

      Settle
457   11.670
458   11.870
2264  11.740
2274  11.950
...      ...
3165  11.775
3168  11.925
3169  11.825
3170  11.975

[144 rows x 1 columns]

### Loading  Historical Data

In [24]:
start = datetime.datetime(2013, 4, 1)   

end = datetime.datetime(2013, 9, 30)

msft = data.DataReader("MSFT", 'yahoo', start, end)   

aapl = data.DataReader("AAPL", 'yahoo', start, end)

In [30]:
msft.to_csv("msft.csv")   
aapl.to_csv("aapl.csv")

### Reading saved files back to the Notebook

In [31]:
msft = pd.read_csv("msft.csv", index_col=0, parse_dates=True)   
aapl = pd.read_csv("aapl.csv", index_col=0, parse_dates=True)

In [32]:
msft[:6]

                 Open       High        Low      Close  Adj Close     Volume
Date
2013-04-01  63.128571  63.385715  61.105713  61.272858  46.031269   97433000
2013-04-02  61.085712  62.591427  60.914288  61.398571  46.125721  132379800
2013-04-03  61.624287  62.468571  61.472858  61.712856  46.361824   90804000
2013-04-04  61.965714  62.142857  60.750000  61.102856  45.903553   89611900
2013-04-05  60.642857  60.707142  59.954285  60.457142  45.418461   95923800
2013-04-08  60.692856  61.071430  60.355713  60.887142  45.741497   75207300

## join, concatenate, merge  DataFrames

In [33]:
glue_them_both = pd.concat([msft.head(3), aapl.head(3)])
glue_them_both

                 Open       High        Low      Close  Adj Close     Volume
Date
2013-04-01  63.128571  63.385715  61.105713  61.272858  46.031269   97433000
2013-04-02  61.085712  62.591427  60.914288  61.398571  46.125721  132379800
2013-04-03  61.624287  62.468571  61.472858  61.712856  46.361824   90804000
2013-04-01  63.128571  63.385715  61.105713  61.272858  46.031269   97433000
2013-04-02  61.085712  62.591427  60.914288  61.398571  46.125721  132379800
2013-04-03  61.624287  62.468571  61.472858  61.712856  46.361824   90804000

In [34]:
aaplA01 = aapl['2013-05'][['Adj Close']]
msftA01 = msft['2013-04'][['Adj Close']]

In [35]:
pd.concat([aaplA01.head(7), msftA01[0:7]])

            Adj Close
Date
2013-05-01  47.145260
2013-05-02  47.813885
2013-05-03  48.292534
2013-05-06  49.444084
...               ...
2013-04-04  45.903553
2013-04-05  45.418461
2013-04-08  45.741497
2013-04-09  45.824131

[14 rows x 1 columns]

In [36]:
# Making a MultiIndex with search by keys
closes = pd.concat([msftA01, aaplA01],  keys=[5, 10])

In [37]:
closes

               Adj Close
   Date
5  2013-04-01  46.031269
   2013-04-02  46.125721
   2013-04-03  46.361824
   2013-04-04  45.903553
...                  ...
10 2013-05-28  49.661892
   2013-05-29  50.056763
   2013-05-30  50.802635
   2013-05-31  50.594505

[44 rows x 1 columns]

In [38]:
msftAV = msft[['Adj Close', 'Volume']]   
aaplAV = msft[['Adj Close', 'Volume']]  
pd.concat([msftAV, aaplAV])

            Adj Close     Volume
Date
2013-04-01  46.031269   97433000
2013-04-02  46.125721  132379800
2013-04-03  46.361824   90804000
2013-04-04  45.903553   89611900
...               ...        ...
2013-09-25  56.779057   79239300
2013-09-26  57.332077   59305400
2013-09-27  56.922920   57010100
2013-09-30  56.215424   65039100

[256 rows x 2 columns]

In [39]:
pd.concat([msftAV, aaplAV], join='inner')

            Adj Close     Volume
Date
2013-04-01  46.031269   97433000
2013-04-02  46.125721  132379800
2013-04-03  46.361824   90804000
2013-04-04  45.903553   89611900
...               ...        ...
2013-09-25  56.779057   79239300
2013-09-26  57.332077   59305400
2013-09-27  56.922920   57010100
2013-09-30  56.215424   65039100

[256 rows x 2 columns]

In [40]:
# Making a new index insted of an old one with ignore_index = True
pd.concat([msftAV[:3], aaplAV[:3]], ignore_index=True)

   Adj Close     Volume
0  46.031269   97433000
1  46.125721  132379800
2  46.361824   90804000
3  46.031269   97433000
4  46.125721  132379800
5  46.361824   90804000

In [41]:
mask = pd.merge(msftAV, aaplAV) 
mask

     Adj Close     Volume
0    46.031269   97433000
1    46.125721  132379800
2    46.361824   90804000
3    45.903553   89611900
..         ...        ...
124  56.779057   79239300
125  57.332077   59305400
126  56.922920   57010100
127  56.215424   65039100

[128 rows x 2 columns]


## Pivoting
####  The following command creates a DataFrame with this schema and populates the records:

In [42]:
msft.insert(0, 'Symbol', 'MSFT')
aapl.insert(0, 'Symbol', 'AAPL')

In [43]:
combined = pd.concat([msft, aapl]).sort_index()
p = combined.reset_index()

In [44]:
p.head()

        Date Symbol       Open       High        Low      Close  Adj Close  \
0 2013-04-01   MSFT  63.128571  63.385715  61.105713  61.272858  46.031269
1 2013-04-01   AAPL  63.128571  63.385715  61.105713  61.272858  46.031269
2 2013-04-02   AAPL  61.085712  62.591427  60.914288  61.398571  46.125721
3 2013-04-02   MSFT  61.085712  62.591427  60.914288  61.398571  46.125721
4 2013-04-03   MSFT  61.624287  62.468571  61.472858  61.712856  46.361824

      Volume
0   97433000
1   97433000
2  132379800
3  132379800
4   90804000

In [45]:
closes = p.pivot(index='Date', columns='Symbol', values='Adj Close') 
closes

Symbol           AAPL       MSFT
Date
2013-04-01  46.031269  46.031269
2013-04-02  46.125721  46.125721
2013-04-03  46.361824  46.361824
2013-04-04  45.903553  45.903553
...               ...        ...
2013-09-25  56.779057  56.779057
2013-09-26  57.332077  57.332077
2013-09-27  56.922920  56.922920
2013-09-30  56.215424  56.215424

[128 rows x 2 columns]

In [46]:
closes.stack()

Date        Symbol
2013-04-01  AAPL      46.031269
            MSFT      46.031269
2013-04-02  AAPL      46.125721
            MSFT      46.125721
                        ...
2013-09-27  AAPL      56.922920
            MSFT      56.922920
2013-09-30  AAPL      56.215424
            MSFT      56.215424
Length: 256, dtype: float64

In [47]:
closes.unstack()

Symbol  Date
AAPL    2013-04-01    46.031269
        2013-04-02    46.125721
        2013-04-03    46.361824
        2013-04-04    45.903553
                        ...
MSFT    2013-09-25    56.779057
        2013-09-26    57.332077
        2013-09-27    56.922920
        2013-09-30    56.215424
Length: 256, dtype: float64

#### Melting is the process of transforming a DataFrame into a format where each row represents a unique id-variable combination.

In [48]:
melted = pd.melt(p, id_vars=['Date', 'Symbol'])   
melted[:5]

        Date Symbol variable      value
0 2013-04-01   MSFT     Open  63.128571
1 2013-04-01   AAPL     Open  63.128571
2 2013-04-02   AAPL     Open  61.085712
3 2013-04-02   MSFT     Open  61.085712
4 2013-04-03   MSFT     Open  61.624287

In [49]:
melted[(melted.Date=='2013-04-03') & (melted.Symbol=='MSFT')]

           Date Symbol   variable         value
4    2013-04-03   MSFT       Open  6.162429e+01
260  2013-04-03   MSFT       High  6.246857e+01
516  2013-04-03   MSFT        Low  6.147286e+01
772  2013-04-03   MSFT      Close  6.171286e+01
1028 2013-04-03   MSFT  Adj Close  4.636182e+01
1284 2013-04-03   MSFT     Volume  9.080400e+07

In [50]:
s4g = combined[['Symbol', 'Adj Close']].reset_index() 
s4g.insert(1, 'Year', pd.DatetimeIndex(s4g['Date']).year)

In [51]:
s4g.insert(2, 'Month',pd.DatetimeIndex(s4g['Date']).month)

In [52]:
s4g.head()

        Date  Year  Month Symbol  Adj Close
0 2013-04-01  2013      4   MSFT  46.031269
1 2013-04-01  2013      4   AAPL  46.031269
2 2013-04-02  2013      4   AAPL  46.125721
3 2013-04-02  2013      4   MSFT  46.125721
4 2013-04-03  2013      4   MSFT  46.361824

In [53]:
s4g.groupby(['Symbol', 'Year', 'Month'],as_index=False).agg(np.mean)[:5]

  Symbol  Year  Month  Adj Close
0   AAPL  2013      4  45.049812
1   AAPL  2013      5  49.586069
2   AAPL  2013      6  47.872910
3   AAPL  2013      7  48.280079
4   AAPL  2013      8  56.599114

In [54]:
#DateTime range with freq day; can be 'M', 'A' year
mp = pd.period_range('1/1/2013', '12/31/2014', freq='D') 
mp

PeriodIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
             '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
             '2013-01-09', '2013-01-10',
             ...
             '2014-12-22', '2014-12-23', '2014-12-24', '2014-12-25',
             '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-29',
             '2014-12-30', '2014-12-31'],
            dtype='period[D]', length=730, freq='D')

#### The following command shifts the adjusted closing prices forward by 1 day:

In [55]:
mp.shift(1)

PeriodIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
             '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09',
             '2013-01-10', '2013-01-11',
             ...
             '2014-12-23', '2014-12-24', '2014-12-25', '2014-12-26',
             '2014-12-27', '2014-12-28', '2014-12-29', '2014-12-30',
             '2014-12-31', '2015-01-01'],
            dtype='period[D]', length=730, freq='D')

In [56]:
shifted_backwards = mp.shift(-2)[:10] 
shifted_backwards

PeriodIndex(['2012-12-30', '2012-12-31', '2013-01-01', '2013-01-02',
             '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
             '2013-01-07', '2013-01-08'],
            dtype='period[D]', freq='D')

### the calculation of daily percentage changes from the previous day

In [57]:
pct_cng= msft['Adj Close']  / msft['Adj Close'].shift(1)-1
pct_cng.dropna()

Date
2013-04-02    0.002052
2013-04-03    0.005119
2013-04-04   -0.009885
2013-04-05   -0.010568
                ...
2013-09-25   -0.015478
2013-09-26    0.009740
2013-09-27   -0.007137
2013-09-30   -0.012429
Name: Adj Close, Length: 127, dtype: float64

In [58]:
msft['Adj Close'].pct_change().dropna()

Date
2013-04-02    0.002052
2013-04-03    0.005119
2013-04-04   -0.009885
2013-04-05   -0.010568
                ...
2013-09-25   -0.015478
2013-09-26    0.009740
2013-09-27   -0.007137
2013-09-30   -0.012429
Name: Adj Close, Length: 127, dtype: float64

In [59]:
msft_cum_ret = (1 + (msft['Adj Close'] / msft['Adj Close'].shift(1)-1)).cumprod() 
msft_cum_ret

Date
2013-04-01         NaN
2013-04-02    1.002052
2013-04-03    1.007181
2013-04-04    0.997225
                ...
2013-09-25    1.233489
2013-09-26    1.245503
2013-09-27    1.236614
2013-09-30    1.221244
Name: Adj Close, Length: 128, dtype: float64

In [60]:
#Resampling can be either downsampling, where data is converted to wider frequency ranges (such as downsampling from day-to-day to month-to-month) 
#or upsampling, where data is converted to narrower time ranges. 
#Data for the associated labels are then calculated by a function provided to pandas instead  of simple filling

In [61]:
msft_monthly_cum_ret = msft_cum_ret.resample("W")
msft_monthly_cum_ret

DatetimeIndexResampler [freq=<Week: weekday=6>, axis=0, closed=right, label=right, convention=start, base=0]

In [62]:
msft_cum_ret.resample("M", how="std")

C:\Users\admin\Downloads\WinPython-64bit-3.6.3.0Qt5\python-3.6.3.amd64\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).std()
  """Entry point for launching an IPython kernel.

Date
2013-04-30    0.035136
2013-05-31    0.023582
2013-06-30    0.045124
2013-07-31    0.029311
2013-08-31    0.064064
2013-09-30    0.039548
Freq: M, Name: Adj Close, dtype: float64

In [63]:
 msft_cum_ret.resample("M", how="ohlc")

C:\Users\admin\Downloads\WinPython-64bit-3.6.3.0Qt5\python-3.6.3.amd64\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  """Entry point for launching an IPython kernel.

                open      high       low     close
Date
2013-04-30  1.002052  1.032338  0.910517  1.032338
2013-05-31  1.024201  1.116339  1.024201  1.099133
2013-06-30  1.101553  1.101553  0.962392  0.969114
2013-07-31  1.000128  1.107907  1.000128  1.105977
2013-08-31  1.116119  1.300629  1.116119  1.248065
2013-09-30  1.251548  1.296607  1.153029  1.221244

In [64]:
sample = msft_cum_ret[1:3]

In [65]:
by_hour = sample.resample("H")

In [66]:
by_hour

DatetimeIndexResampler [freq=<Hour>, axis=0, closed=left, label=left, convention=start, base=0]

In [67]:
# use Method .interpolate()   to shift and fii in NaN
by_hour.interpolate()

Date
2013-04-02 00:00:00    1.002052
2013-04-02 01:00:00    1.002266
2013-04-02 02:00:00    1.002479
2013-04-02 03:00:00    1.002693
                         ...
2013-04-02 21:00:00    1.006540
2013-04-02 22:00:00    1.006754
2013-04-02 23:00:00    1.006967
2013-04-03 00:00:00    1.007181
Freq: H, Name: Adj Close, Length: 25, dtype: float64